*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.speech{
    height: 550px;
    width: 600px;
 
   margin-left: 500px;
    margin-top: 100px;
    border-radius: 30px;
}
.speech:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
h1{
    padding-top: 50px;
    margin-left: 115px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;

}
.talk{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color:rgb(19, 243, 19);
    margin-left:250px;
    margin-top: 50px;
}
.speech p{
    margin:50px 50px;
}
@media (max-width:1103px){
    .speech{
        margin-left: 350px;
    }
}
@media (max-width:950px){
    .speech{
        margin-left: 200px;
    }
}

@media (max-width:800px){
    .speech{
        margin-left: 100px;
    }
}
@media (max-width:700px){
    .speech{
      width: 400px;

        margin-left: 100px;
    }
    .talk{
        margin-left: 120px;
    }
}
@media (max-width:500px){
    .speech{
        margin-left: 50px;
        width: 400px;
    }
}
@media (max-width:452px){
    .speech{
        margin-left: 50px;
        width: 300px;
    }
    h1{
        padding-top: 50px;
        margin-left: 50px;
        font-size: 50px;
       
    }
    .talk{
        margin-left: 80px;
    }

}
@media (max-width:350px){
    .speech{
        margin-left: 50px;
        width: 270px;
    }
    h1{
        padding-top: 50px;
        margin-left: 40px;
       font-size: 40px;
       
    }
    .talk{
        margin-left: 60px;
    }

}

@media (max-width:321px){
    .speech{
        margin-left: 50px;
        width: 240px;
        height: 450px;
    }
    h1{
        padding-top: 50px;
        margin-left: 40px;
       font-size: 35px;
       
    }
    .talk{
        margin-left: 50px;
    }

}